/* Sacramento */
@font-face {
	font-family: 'Sacramento';
	src: url('../../font/Sacramento-Regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
	url('../../font/Sacramento-Regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@keyframes slideleft {
  from {
    margin-left: 100%;
    width: 100%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes slideright {
  from {
    margin-right: 100%;
    width: 100%;
  }

  to {
    margin-right: 0%;
    width: 100%;
  }
}

#page-main #intro {
	margin: 11vh 0 0 0;
	animation-duration: 3s;
  	animation-name: slideleft;
}

#page-main #intro figure {
	display: inline-block;
	vertical-align: middle;
}

#page-main #intro figure img {
	width: 500px;
	height:  500px;
	border-radius: 50%;
	margin-top: 36px;  
}

#page-main #intro > .text {
	width: 560px;
	display: inline-block;
	vertical-align: top;
	margin-right: 72px;
}

#page-main #intro #rainbow {
	position: absolute;
	left: 264px;
    top: auto;
}

#page-main #intro .text #country::before {
	content: url(../../img/placeholder.svg);
	display: inline-block;
	width: 16px;
	height: 16px;
	font-weight: bold;
	vertical-align: top;
}

#page-main #intro .text h1 {
	font-family: 'Sacramento', cursive;
	font-size: 6rem;
	line-height: 1.25;
	margin: 56px 0 72px 0;
    transform-style: preserve-3d;
    opacity: 1;
}

#page-main #short-intro {
	font-size: 16px;
	line-height: 1.5;
}

#page-main #about-me {
	margin: 9vh 0 9vh 0;
}

#page-main #portfolio-preview {
	margin: 50px 0 25px 0;
}

#page-main #portfolio-preview figure {
	display: inline-block;
	vertical-align: middle;
	width: 480px;
}

#page-main #portfolio-preview figure img {
	width: 480px;
	height: 280px;
}

#page-main #portfolio-preview .text {
	display: inline-block;
	vertical-align: top;
	width: 560px;
}

#page-main #portfolio-preview > section {
	background-color: rgba(255,255,255,0.3);
	margin: 10px;
}