@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

#page-main #intro {
	margin: 11vh 0 0 0;
}

#page-main #intro figure {
	display: inline-block;
	vertical-align: middle;
}

#page-main #intro figure img {
	width: 500px;
	height:  500px;
	border-radius: 50%;
	margin-top: 36px;
}

#page-main #intro > .text {
	width: 560px;
	display: inline-block;
	vertical-align: top;
	margin-right: 72px;
}

#page-main #intro #rainbow {
	position: absolute;
	left: 264px;
    top: auto;
}

#page-main #intro .text #country::before {
	content: url(../../img/pin.svg);
	display: inline-block;
	width: 16px;
	height: 16px;
	font-weight: bold;
	vertical-align: top;
}

#page-main #intro .text h1 {
	font-family: 'Sacramento', cursive;
	font-size: 6rem;
	line-height: 1.25;
	margin: 56px 0 72px 0;
    transform-style: preserve-3d;
    opacity: 1;
}

#page-main #short-intro {
	font-size: 1.25rem;
	line-height: 1.5;
}

#page-main #about-me {
	margin: 9vh 0 9vh 0;
}
#page-main #portfolio-preview {
	margin: 50px 0 25px 0;
}